body{
    margin: 0cm;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.name-highlight{
      color: orange;
}
#description{
    font-size: 40px;
    font-weight: 700;
    
}
.half-width{
    width: 45%;
    margin-left:3%;
    margin-right: 0cm;
    padding-left: 2%;
    
    float:left;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image:url("Images/top-banner.png") ;
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg,#3c7b1f,green);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}