body{
    margin: 0cm;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.name-highlight{
      color: orange;
}
#description{
    font-size: 30px;
    text-align: justify;
}
.half-width{
    width: 45%;
    margin-left:3%;
    margin-right: 0cm;
    padding-left: 2%;
    
    float:left;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image:url("Images/top-banner.png") ;
    background-repeat: no-repeat;
}
section{
    height: 500px;
}